{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}

{% if already_exists %}
<div class="alert alert-danger" role="alert">
    This entry already exists!
</div>
{% endif %}
<form action="{% url 'encyclopedia:new' %}" method="post" id="newform">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title">
    <input type="submit">
</form>
<textarea name="markdown" form="newform">Enter Markdown text here</textarea>

{% endblock %}