{% extends "encyclopedia/layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
{% if entry %}
<div class="container-fluid">
    <div class="row">
        <div class="d-inline">
            <h1>{{ title }}</h1>
        </div>
        <div class="d-inline align-self-end mb-3 ml-3">
            <form action="{% url 'encyclopedia:edit' %}" method="get">
                <input name="name" type="hidden" value="{{ title }}">
                <input type="submit" type="submit" value="Edit Page">
            </form>
        </div>
    </div>
</div>
<div class="container-fluid" id="textbox">
    <p>{{ entry|safe }}</p>
</div>
{% else %}
<div>There is no such entry</div>
{% endif %}


{% endblock %}